<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu racine -->
        <menuitem id="myautoparc_root_menu" name="Auto Parc" sequence="0"/>

        <!-- Sous-menu Configuration -->
        <menuitem id="myautoparc_sub_menu_conf" name="Configuration" parent="myautoparc_root_menu" sequence="1"/>

        <!-- Clients -->
        <menuitem id="myautoparc_client_menu" name="Clients" parent="myautoparc_sub_menu_conf" action="action_client" sequence="1"/>

        <!-- Models -->
        <menuitem id="myautoparc_model_menu" name="Models" parent="myautoparc_sub_menu_conf" action="action_model" sequence="2"/>

        <!-- Brands -->
        <menuitem id="myautoparc_brand_menu" name="Brands" parent="myautoparc_sub_menu_conf" action="action_brand" sequence="3"/>

        <!-- Centers -->
        <menuitem id="myautoparc_center_menu" name="Centers" parent="myautoparc_sub_menu_conf" action="action_center" sequence="4"/>

        <!-- Cars -->
        <menuitem id="myautoparc_car_menu" name="Cars" parent="myautoparc_sub_menu_conf" action="action_car" sequence="5"/>
        
        <!-- Affectation -->
        <menuitem id="myautoparc_affectation_menu" name="Affectations" parent="myautoparc_sub_menu_conf" action="action_affectation" sequence="6"/>
    </data>
</odoo>