<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
        id="myautoparc_root_menu"
        name="Auto Parc"
        sequence="0"/>

        <menuitem
        id="myautoparc_sub_menu_conf"
        name="Configuration"
        parent="myautoparc_root_menu"
        sequence="1"/>

        <menuitem
        id="myautoparc_car_menu"
        name="Clients"
        parent="myautoparc_sub_menu_conf"
        action="action_myautoparc_client"/>

        <menuitem
        id="myautoparc_car_menu"
        name="Models"
        parent="myautoparc_sub_menu_conf"
        action="action_myautoparc_model"/>

        <menuitem
        id="myautoparc_car_menu"
        name="Brands"
        parent="myautoparc_sub_menu_conf"
        action=""/>

        <menuitem
        id="myautoparc_car_menu"
        name="Cars"
        parent="myautoparc_sub_menu_conf"
        action="action_myautoparc_brand"/>

        

    </data>
</odoo>